**/.DS_Store
BarberVip.xcworkspace/xcuserdata/macbookpro.xcuserdatad/


Pods/*
Pods/Pods.xcodeproj/xcuserdata/*
Pods/Pods.xcodeproj/xcuserdata/
# Cocoapods
BarberVip/Pods/
Pods/

# Xcuserdata
xcuserdata/
*.xcscmblueprint
*.xccheckout